<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.fitness">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FITNESS"
        tools:targetApi="31">
        <activity
            android:name=".tapcobungdetail_video_Activity"
            android:exported="false" />
        <activity
            android:name=".tapcobungdetail_Activity"
            android:exported="false" />
        <activity
            android:name=".chongdayvideo_Activity"
            android:exported="false" />
        <activity
            android:name=".chongdaydetails_Activity"
            android:exported="false" />
        <activity
            android:name=".buoclenghdetail_video_Activity"
            android:exported="false" />
        <activity
            android:name=".buoclenghe_Activity"
            android:exported="false" />
        <activity
            android:name=".buoclenghedetail_Activity"
            android:exported="false" />
        <activity
            android:name=".jumpingdetail_Activity"
            android:exported="false" />
        <activity
            android:name=".exerciseactivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".homepageActivity"
            android:exported="false" />
        <activity
            android:name=".lesson_part2Activity"
            android:exported="false" />
        <activity
            android:name=".lesson_part1Activity"
            android:exported="false" />
        <activity
            android:name=".lessonActivity"
            android:exported="false" />
        <activity
            android:name=".bmiActivity"
            android:exported="false" />
        <activity
            android:name=".tongquatActivity"
            android:exported="false" />
        <activity
            android:name=".thucdon1Activity"
            android:exported="false" />
        <activity
            android:name=".menu1Activity"
            android:exported="false" />
        <activity
            android:name=".menu2Activity"
            android:exported="false" />
        <activity
            android:name=".jumpstart_Activity"
            android:exported="false" />
        <activity
            android:name=".jumping_activity"
            android:exported="false" />
        <activity
            android:name=".jumpingvideo_Activity"
            android:exported="false" />
        <activity
            android:name=".ListActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>